body{
    background-color: rgb(32, 32, 34);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.header_text{
    color:rgb(241, 240, 240)
}

.socialbtn{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color:rgb(101, 103, 238);
    background-color:rgb(198, 179, 248);
    border: 10px solid rgb(101, 103, 238);
    border-radius: 5px;
    height:75px;
    width: 175px;
    transition: all 0.3s;
}

.socialbtn:hover {
    transform: translateY(10px);
    background-color:rgb(101, 103, 238);
    color:rgb(233, 243, 247);
}

img {
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
}

img.show{
    opacity:1;
    display:block;
}

img:hover {
   transform: scale(1.25);
  
} 

.socials{ 
    
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 30px;
    transition: transform 0.5s ease;
}

.socials:hover{
    transform: scale(1.25);
}




